CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
necsimCMD
*.ipynb_checkpoints/
*.o-*
\.DS_Store
*fast-cpp-csv-parser*
*.o
*.tmp
cmake-build-debug/

\.idea/

cmake-build-release/

**/.ipynb_checkpoints
